/*
flaticon para botoes
favicon.io -> converter qualquer img em icon
archiveicon -> icon
favicon.cc -> desenhar um icon

.class
#id
*/
*{
    padding: 0;
    margin: 0;
}
body::-webkit-scrollbar {
    width:8px
}
::-webkit-scrollbar-track {
    background-color: rgb(34, 34, 34);
}
::-webkit-scrollbar-thumb {
    background-color: blueviolet;
    border-radius: 4px;
}
nav ul a img {
    width: 170px;
    vertical-align: middle;
}
nav ul {
    text-align: center;
    background-color: #161616;
    box-shadow: 3px 5px 5px rgb(0, 0, 0, 0.4);
}
nav ul li {
    display: inline;
    position: relative;
    width: 100px;
}
nav ul li a {
    color: white;
    padding: 25px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.5s ease-in-out;
    border: 0.1px solid transparent;
}
nav ul li a:hover {
    background: rgba(255, 255, 255, 0.247);
    color: rgb(0, 0, 0);
    border: 0.1px solid rgb(111, 0, 255);
    border-radius: 10em;
}
/* sub-menu*/
nav ul ul {
    display: none;
    left: 0;
    position: absolute;
    width: 133px;
}
nav ul li:hover ul {
    display: block;
    position: absolute;
}
nav ul ul li a {
    display: block;
    border-radius: 0.6em;
}