:root {
    /* Variáveis */
    --principal: #be9c79;
    --black: #333333;
    --white: #ffffff;
    --light: #666666;
}
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background-color: rgb(245, 235, 169);
}
html {
    font-size: 62.5%;
}

section {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    position: sticky; /* fixado */
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: 0 0.5rem 1rem rgba(0, 0,0, 0.1);
}
.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1.5rem 2rem;
}
.header .flex .logo img {
    height: 4.5rem;
}
.header .flex .navbar a {
    margin-left: 2rem;
    font-size: 2rem;
    color: var(--black);
}
.header .flex .navbar a:hover {
    text-decoration: underline;
    color: var(--principal);
}
#menu-btn {
    font-size: 2.5rem;
    color: var(--black);
    cursor: pointer;
    display: inline-block;
}

/* Botões */
.btn {
    display: inline-block;
    margin-top: 1rem;
    background-color: var(--principal);
    cursor: pointer; /* Como o mouse vai se comportar */
    color: var(--white);
    font-size: 1.8rem;
    padding: 1rem 3rem; /* Vertical Horizontal */
    flex-wrap: wrap;
}
.btn:hover {
    background-color: var(--black);
}
.home-bg .home {
    min-height: 70rem;
    display: flex;
    align-items: center; /* Vertical */
}
.home-bg img {
    width: 100%;
}
.home-bg .home .content {
    width: 50rem;
    padding: 2em;
    margin: 5em;
}
.home-bg .home .content h3 {
    font-size: 2rem;
    color: var(--black);
}
.home-bg .home .content p {
    padding: 1rem 0;
    font-size: 1.6rem;
    color: var(--black);
    line-height: 2; /* altura da linha */
}

hr {
    border-top: 1px dashed rgb(253, 231, 104);
}

.facility .box-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5rem;
    align-items: flex-start; /* alinhar no topo */
}
.facility .box-container .box {
    text-align: center;
}
.facility .box-container .box img {
    height: 14rem;
    margin-bottom: 0.5rem;
}
.facility .heading h3 {
    font-size: 2rem;
    color: var(--black);
    padding-bottom: 3rem;
    text-align: center;
}
.facility .box-container .box h3 {
    font-size: 2rem;
    color: var(--black);
    margin: 1rem 0;
}
.facility .box-container .box p {
    font-size: 1.5em;
    color: var(--light);
    line-height: 1.8;
}